<!-- <h1>Number was: <%= @input_num %></h1>
<p>
  Welcome <%= @user_id %>
</p>
<h2><%= @winstatus %></h2>

<hr/>
<form action="try" method="get">
  <input type="text" name="number"/>
  <input type="submit" value="Submit Number"/>
</form> -->
